In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(\
                 'r1MFOAdjSsU.csv')

In [87]:
df

   Unnamed: 0        asr_token token_type
0           0           Russia        GPE
1           1  Marcus Raksford     PERSON
2           2           United        ORG
3           3         Ericsson     PERSON

In [4]:
#pip install zipfile36

Collecting zipfile36
  Downloading zipfile36-0.1.3-py3-none-any.whl (20 kB)
Installing collected packages: zipfile36
Successfully installed zipfile36-0.1.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
import zipfile

In [5]:
vocab = pd.read_csv('vocabulary.csv.zip',compression='zip')

In [89]:
vocab = vocab[['Index', 'Name']]

In [6]:
results = pd.read_csv('results.csv')

In [7]:
results.head(3)

,Unnamed: 0,id,idx,value
0,0,test,"1,0,3,14,4,38,9,28,13,31,105,16,294,192,2338,6...","0.97853684,0.963701,0.6344805,0.50693023,0.323..."

In [8]:
model_pred = results.dropna()[['id','idx','value']]

In [9]:
model_pred

,id,idx,value
0,test,"1,0,3,14,4,38,9,28,13,31,105,16,294,192,2338,6...","0.97853684,0.963701,0.6344805,0.50693023,0.323..."

In [10]:
model_pred['label'] = model_pred.idx.map(lambda x:x.split(','))
model_pred['conf'] = model_pred.value.map(lambda x:x.split(','))

In [11]:
model_pred

,id,idx,value,label,conf
0,test,"1,0,3,14,4,38,9,28,13,31,105,16,294,192,2338,6...","0.97853684,0.963701,0.6344805,0.50693023,0.323...","[1, 0, 3, 14, 4, 38, 9, 28, 13, 31, 105, 16, 2...","[0.97853684, 0.963701, 0.6344805, 0.50693023, ..."

In [12]:
preds1 = model_pred[['id','label']].explode('label')

In [13]:
preds2 = model_pred[['id','conf']].explode('conf')

In [14]:
finalpred = pd.concat([preds1,preds2], axis=1)[['id','label','conf']]

In [15]:
finalpred.head(2)

     id    id label        conf
0  test  test     1  0.97853684
0  test  test     0    0.963701

In [106]:
model_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1 non-null      object
 1   idx     1 non-null      object
 2   value   1 non-null      object
 3   label   1 non-null      object
 4   conf    1 non-null      object
dtypes: object(5)
memory usage: 168.0+ bytes

In [16]:
finalpred['label']=finalpred.label.astype(int)

In [17]:
mapped_pred = pd.merge(finalpred, vocab, how='left', left_on='label', right_on='Index')

In [18]:
mapped_pred.columns

Index(['id', 'id', 'label', 'conf', 'Index', 'TrainVideoCount',
       'KnowledgeGraphId', 'Name', 'WikiUrl', 'Vertical1', 'Vertical2',
       'Vertical3', 'WikiDescription'],
      dtype='object')

In [5]:
mapped_pred.T.drop_duplicates().T[['id', 'label', 'conf', 'Name']]

NameError: name 'mapped_pred' is not defined

In [ ]:
wiki_map